/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/wp7612942.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#about,#services,#portfolio,#contact{
    padding: 50px;
}
#about{
    height:100vh;
    background: url('images/back-white-silver-image-templates.jpeg');
    background-size:cover;
    position:relative;
}
#contact {
    padding-bottom: 4rem;

}
#portfolio{
    background-color: #eceefc97;
}
#contactform{
    padding-top: 50px;
}
#gmap-canvas{
    padding-top: 50px;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #62da62;
}
.fab {
    color: #9f9f9f;
    padding-top: 45px;
    padding: 45px 0 25px 25px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* footer styling */
#footer {
    background-color: #e0e4e5;
    text-align: center;
    max-width: 100%;
    height: 150px;

}